/*
Colors used:
Primary Color ()
Colors in Hex
.green-hex { color: #617769; }
.peach-hex { color: #FAD7C5; } {brighter: #FFCCB3; }
.blue-hex { color: #5D7487}
.lightblue-hex { color: #B9DCFA; }
.off-white-hex { color: #FAF7F2; } {lighter shade: #FFFCFA; }
.off-black-hex { color: #3A4854; }
 */

* {
  box-sizing: border-box;
}

body {
  /* background-color: #FFFCFA; */
  background: url(https://images.unsplash.com/photo-1538927116541-129b3c3b3a2d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3034&q=80) no-repeat;
  background-attachment: fixed;
	background-size: cover;
  font-family: 'roboto', sans-serif;
  font-size: 12px; /* Sets the font size to 12px */
  font-weight: 400; /* Sets the font weight to 300 */
  line-height: 1.2; /* Sets the line-height to 1.2 * the font-size */
  color: #3A4854;
  }

  h1, h2, h3, h4 {
    line-height: 1.0;
  }
  h1 {
    font-size: 2.25em;
    font-weight: 700;
    color: #FFCCB3;
    text-align: center;
    margin: 10px;
    font-family: 'antic';
  }

  h2 {
    font-size: 2.0em;
    font-weight: 700;
    color: #5D7487;
    margin: 10px;
    text-align: center;
    padding-top: 20px;
  }

  h2, h3, h4 {
   font-family: 'rokkitt';
  }

  h3 {
    font-size: 1.75em;
    font-weight: 400;
    color: #617769;
    margin: 10px;
  }

  h4 {
    font-size: 1.35em;
    font-weight: 400;
    margin: 10px;
  }

  img {
    width: 100%;
  }

  a {
  color: #FFCCB3;
  text-decoration: none; /* No underlining */
}

p {
  margin: 10px;
  display: inline-block;
  font-weight: 300;
}

li {
  font-weight: 300;
}
a:hover {
  text-decoration: underline; /* Underlining when hovering over a link */
}


a:focus,
a:active,
a:visited {
  color: #B9DCFA;
}


header {
  /* background-color: #9AADA1; */
  padding: 10px 20px 4px;
  text-align: center;
  color:  #FFFCFA;
  display: inline-block;
  position: fixed;
  width: 100%;
  max-height: fit-content;
  box-shadow: 0px 10px 10px 0px rgba(88, 98, 91, 0.33);
  background: inherit;
	overflow: hidden;
}

header:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(127, 155, 181, .5);
	filter: blur(10px);
	margin: -20px;
}

header a {
  font-weight: 300;
}

header>div>a {
  max-height: 95px; /*  Limit the logo height*/
}

#hero {
  background-color: #617769;
  padding: 20px 0;
  padding-top: 105px;
  display: inline-block;
  width: 100%;
  box-shadow: 0px 10px 10px 0px rgba(88, 98, 91, 0.33);
  border-radius: 10px;
}


main {
  padding-top: 150px;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  margin-bottom: 25px;
}

#getintouch {
  background-color: #FFCCB3;
  text-align: center;
  box-shadow: 0px 10px 10px 0px rgba(88, 98, 91, 0.33);
  border-radius: 10px;
  padding: 15px 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* layout styling */

.work-container {
  background-color:  #FFFCFA;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px rgba(88, 98, 91, 0.33);
}

.container-about {
  background-color:  #FFFCFA;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px rgba(88, 98, 91, 0.33);
}

.container-wodhunt {
  background-color:  #FFFCFA;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px rgba(88, 98, 91, 0.33);
  padding: 15px 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-hero-section {
  padding-top: 120px;
}

.about-hero-picture {
  width: 100%;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #617769;
}

#work .last {
  padding-bottom: 0px;
  margin-bottom: 0%;
  border-bottom: none;
}
.socialmedia {
  max-width: 10%;
  min-width: 40px;
  display: inline-block;
}

.logo {
  max-width: 80px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFCFA;
  position: relative;
}

nav ul > li > a:hover,
a:active {
  text-decoration: none;
  color: #FFFCFA;
}

nav ul > li > a:visited {
  color: #FFFCFA;
  text-decoration: underline;
}

.mockupimg .wodhunttitleimg  {
max-width: 0.5em;
}

.copyright {
  background-color: #617769;
  padding: 0 15px;
  color: #FFFCFA;
  font-size: 0.8em;
  font-weight: 300;
}

.copyright > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}

.socials > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}

.socials > ul > li {
  display: inline-block;
}

.socials > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #5D7487;
}

.socials> ul > li > a:visited {
  color: #5D7487;
}

.socials > ul > li > a:active {
  color: #5D7487;
  text-decoration: underline;
}

.socials > ul > li > a:hover {
  text-decoration: underline;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(250, 215, 197, 1);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

#hero p {
  color: #FFFCFA;
}

#hero p a {
  color:rgba(250, 215, 197, 1);
}

#getintouch p a {
  color: #5D7487;
}

.minimockup {
  max-width: 150px;
  display: inline-flex;
  margin-left: 10px;
}

#wodhunt h2 {
  display: inline-flex;

}

/*needs to be at the bottom as it's very specific */
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #5D7487;
  color: #FFFCFA; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #667F94; /* width of the border, type, color */
  transition-duration: 0.2s;
  transition-property: opacity;
  margin: 10px;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  background-color:#FFFCFA;
  border-radius: 12px;
}

.button.contact {
  background-color: transparent;
  color: #5D7487;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  border: 2px solid #5D7487;
  transition: 0.2s opacity;
}

.button.contact:hover {
  background-color: #5D7487;
  color: #FFFCFA;
}

.button.contact:active {
  opacity: 0.6;
  border-radius: 12px;
}

.button.cv {
  background-color: transparent;
  color: #5D7487;
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-transform: uppercase;
  border: 2px solid #5D7487;
  transition: 0.2s opacity;
}

.button.cv:hover {
  background-color: #5D7487;
  color: #FFFCFA;
}

.button.cv:active {
  opacity: 0.6;
  border-radius: 12px;
}
.button.cv:active {
  opacity: 0.6;
  border-radius: 18px;
}


.button.readmore {
  background-color: transparent;
  color: #5D7487;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  border: 2px solid #5D7487;
  transition: 0.2s opacity;
}

.button.readmore:hover {
  background-color: #5D7487;
  color: #FFFCFA;
}

.button.readmore:active {
  opacity: 0.6;
  border-radius: 12px;
}

.logo {
  max-height: 80px;
}

.social-icon-svg {
  stroke: #5D7487;
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 6.5px;
}

.about-title h1 {
  color: #5D7487;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change-d {
  0% {fill: #FFCCB3;}
  100% {fill: #617769;}
 }

 .pot1 {
  animation-duration: 4s;
  animation-name: color-change-d;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes color-change-e {
  0% {fill: #3f3d56}
  50% {fill: #617769;}
  100% {fill: #FFCCB3;}
 }

 .pot2 {
  animation-duration: 3s;
  animation-name: color-change-e;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes color-change-f {
  0% {fill: #3f3d56;}
  100% {fill: #FFCCB3;}
 }

 .laptop {
  animation-duration: 4s;
  animation-name: color-change-f;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


@keyframes color-change-g {
  0% {fill: #fad7c5;}
  100% {fill: #617769;}
 }

 .bush1 {
  animation-duration: 4s;
  animation-name: color-change-g;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes color-change-h {
  0% {fill: #f2f2f2;}
  100% {fill: #B9DCFA;}
 }

 .sky {
  animation-duration: 6s;
  animation-name: color-change-h;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes color-change-i {
  0% {fill: #617769;}
  100% {fill: #fad7c5;}
 }

 .bush2 {
  animation-duration: 4s;
  animation-name: color-change-i;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

[class*="col-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.animation-2 {
  width:100%;
  height:100%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav ul {
    margin: 1em 0;
  }

  nav ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }

  #hero {
    text-align: center;
  }

  #hero span {
    display: block;
  }

  .about {
    margin: 0 10px;
  }

  #about_rms h3 {
    margin-top: 0;
    text-align: left;
  }

  #wodhunt {
    margin: 0 10px;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-3 {
    width: 33%;
  }
  body {
    background-color: #FFFCFA;
    font-family: 'roboto', sans-serif;
    font-size: 14px; /* Sets the font size to 14px */
    font-weight: 400; /* Sets the font weight to 400 */
    line-height: 1.4; /* Sets the line-height to 1.4 * the font-size */
    color: #3A4854;
    }

    h1, h2, h3, h4 {
      line-height: 1.2;
    }
    h1 {
      font-size: 2.25em;
      font-weight: 700;
      color: #FFCCB3;
      text-align: center;
    }

    h2 {
      font-size: 2.0em;
      font-weight: 700;
      color: #5D7487;
    }

    h3 {
      font-size: 1.75em;
      font-weight: 400;
      color: #617769;
    }
    h4 {
      font-size: 1.35em;
      font-weight: 400;
    }
    .animation-2 {
      width:430px;
      height:560px;
    }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.67%;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    background-color: #FFFCFA;
    font-family: 'roboto', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 400; /* Sets the font weight to 400 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #3A4854;
    }

    h1, h2, h3, h4 {
      line-height: 1.4;
    }
    h1 {
      font-size: 2.25em;
      font-weight: 700;
      color: #FFCCB3;
      text-align: center;
    }

    h2 {
      font-size: 2.0em;
      font-weight: 700;
      color: #5D7487;
    }

    h3 {
      font-size: 1.75em;
      font-weight: 400;
      color: #617769;
    }
    h4 {
      font-size: 1.35em;
      font-weight: 400;
    }

    .logo {
      max-width: 100px;
      max-height: 100px;
    }

    .minimockup {
      max-width: 200px;
      display: inline-flex;
      margin-left: 10px;
    }
}

/* Border X get width  */
div.borderXwidth a:before, div.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFCCB3;
    transition: all 0.3s;
}

div.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  body {
    background-color: #FFFCFA;
    font-family: 'roboto', sans-serif;
    font-size: 20px; /* Sets the font size to 24px */
    font-weight: 400; /* Sets the font weight to 300 */
    line-height: 2.0; /* Sets the line-height to 2.0 * the font-size */
    color: #3A4854;
    }

    h1, h2, h3, h4 {
      line-height: 1.6;
    }
    h1 {
      font-size: 2.25em;
      font-weight: 700;
      color: #FFCCB3;
      text-align: center;
    }

    h2 {
      font-size: 2.0em;
      font-weight: 700;
      color: #5D7487;
    }

    h3 {
      font-size: 1.75em;
      font-weight: 400;
      color: #617769;
    }
    h4 {
      font-size: 1.35em;
      font-weight: 400;
    }
    .logo {
      max-width: 120px;
      max-height: 120px;
    }

  .minimockup {
    max-width: 220px;
    display: inline-flex;
    margin-left: 10px;
  }

#getintouch h2, h3 {
  text-align: center;
}

#wodhunt h3 {
  text-align: center;
}

[class*="col-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

 @keyframes color-change {
  from {fill: #edc655;}
   to {fill: #f76414;}
 }

 .sun {
  animation-duration: 3s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 20s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* CSS animation own attempt */

@keyframes color-change-b {
  0% {fill: #cbcbcb;}
   50% {fill: #5D7487;}
   100% {fill: #667F94;}
 }

 .z {
  animation-duration: 4s;
  animation-name: color-change-b;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


@keyframes color-change-c {
  0% {fill: #667F94;}
  50% {fill: #5D7487;}
  100% {fill: #cbcbcb;}
 }

 .zz {
  animation-duration: 4s;
  animation-name: color-change-c;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


@keyframes birdloright-move {
  from {
    transform: translate(-400px, 0px);
  }
  to {
    transform: translate(-600px, 0px);
  }
}

@keyframes birdhiright-move {
  from {
    transform: translate(-300px, 0px);
  }
  to {
    transform: translate(-750px, 0px);
  }
}

@keyframes birdhileft-move {
  from {
    transform: translate(-100px, -100px);
  }
  to {
    transform: translate(-350px, -100px);
  }
}

.birdloright {
  animation: 6s birdloright-move infinite alternate linear;
}

.birdhiright {
  animation: 6s birdhiright-move infinite alternate linear;
}

.birdhileft {
  animation: 3s birdhileft-move infinite alternate linear;
}
}
